.container {
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
}

.left,
.right {
  position: absolute;
  height: 100%;
  width: 50%;

  @include media-breakpoint-down(sm) {
    width: 100%;
  }
}

.left {
  background: $white;
}

.right {
  left: 50%;
  background: $background-color;
}

.nav {
  position: fixed;
  width: 100%;
  height: 100px;
  font-family: $font-family;
  font-weight: 600;

  .logo,
  .next {
    line-height: 80px;
    position: absolute;
    
    padding: 10px;

    @include media-breakpoint-down(sm){

      line-height: 30px;

    }

  }

  .watch,
  .cart {
    line-height: 80px;
    position: absolute;
    padding: 10px;
    right: 0;

    @include media-breakpoint-down(sm){

      line-height: 30px;

    }

  }

  .logo {
    padding: 10px 52px 10px 52px;
    background: $background-color;
    color: $white;
    letter-spacing: 1px;
    font-weight: 400;
  }

  .next {
    left: 280px;
  }

  .watch {
    right: 220px;
    font-family: $font-family;
    color: $white;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 1px;
  }

  .cart {
    right: 70px;
    color: $white;
  }
}

.right-sidebar {
  right: 25px;
  position: absolute;
  top: 56%;
  transform: translateY(-50%);
  text-align: right;
  color: $white;

  & ul {
    list-style: none;

    li {
      color: $white;
      a {
        color: $white;
        text-decoration: none;
        font-family: $font-family;
        font-weight: 400;
        letter-spacing: 0.5px;
        text-transform: capitalize;
      }
    }

    .other-page {
      transition: all 0.5s;
    }

    .other-page:hover {
      transform: scale(1.2) !important;
    }
  }

  .title {
    font-size: 36px;
    font-family: $font-family;
    padding-bottom: 40px;
  }

  & li:not(:first-child) {
    padding: 6px 0;
  }
}

.product {
  position: absolute;
  top: 50%;
  left: 52%;
  transform: translate(-50%, -52%);
  animation: fly 4s ease-in-out infinite;
  margin: 0 auto;

  img {
    width: 70%;
    margin: 0 auto;
  }

  @include media-breakpoint-down(sm) {
    top: 25%;
    left: 54%;
    transform: translate(-25%, -52%);

    img {
      width: 18rem;
    }
  }
}

@include keyframes(fly) {
  0% {
    transform: translate(-50%, -46%);
  }
  50% {
    transform: translate(-50%, -54%);
  }
  100% {
    transform: translate(-50%, -46%);
  }
}

.left-bottom {
  position: absolute;
  left: 60px;
  bottom: 40px;
  font-family: helvetica;
  letter-spacing: 3px;
  color: $primary-color;
  text-transform: uppercase;
  font-size: 12px;

  @include media-breakpoint-down(sm) {
    p {
      display: none;
    }
  }
}

.left-sidebar {
  left: 24px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  text-align: left;
  width: 26%;

  .desc {
    display: none;
  }

  .desc-1 {
    display: block;
  }

  @include media-breakpoint-down(sm) {
    .desc {
      display: block;
    }

    .desc-1 {
      display: none;
    }
  }


  .product-title{

    @include media-breakpoint-down(sm){

      font-size: 1.4em;

    }

  }

  .single-input {
    display: block;
    width: 100%;
    line-height: 40px;
    border: none;
    outline: none;
    background: #eeeef0;
    padding: 0 20px;
    &:focus {
      outline: none;
    }
  }

  .form-select {
    height: 40px;
    width: 100%;
    .nice-select {
      border: none;
      border-radius: 0px;
      height: 40px;
      background: #eeeef0;
      padding-left: 45px;
      padding-right: 40px;
      width: 100%;
      .list {
        margin-top: 0;
        border: none;
        border-radius: 0px;
        box-shadow: none;
        width: 100%;
        padding: 10px 0 10px 0px;
        .option {
          font-weight: 300;
          @include transition();
          line-height: 28px;
          min-height: 28px;
          font-size: 15px;
          padding-left: 45px;
          &.selected {
            color: $primary;
            background: transparent;
          }
          &:hover {
            color: $primary;
            background: transparent;
          }
        }
      }
    }
  }

  .button-group-area {
    padding: 15px 30px;
    color: white;
    background-color: #9b4d38;

    a {
      color: $white;
      text-decoration: $white;
    }
  }

  .single-textarea {
    display: block;
    width: 100%;
    line-height: 40px;
    border: none;
    outline: none;
    background: #eeeef0;
    padding: 0 20px;
    height: 100px;
    resize: none;
    &:focus {
      outline: none;
    }
  }

  .product-title {
    font-family: $font-family;
    font-weight: 600;
  }

  .year-title {
    color: $background-color2;
  }

  .btn {
    padding: 24px 48px;
    background: $background-color2;
    color: $white;
    outline: none;
    border: none;
    margin: 1em 0;
    font-family: $font-family;
    font-weight: bolder;

    @include media-breakpoint-down(sm) {
      margin-left: 65px;
      padding: 15px 30px;
    }
  }

  p {
    font-family: helvetica;
    font-weight: lighter;
    line-height: 24px;
    color: $primary-color;
  }

  #price {
    color: #000;
  }
}

.media {
  position: absolute;
  bottom: 40px;
  right: 60px;
  color: $white;

  @include media-breakpoint-down(sm) {
    bottom: 30px;
    right: 30px;
  }

  ul {
    list-style: none;

    li {
      display: inline-block;

      a {
        color: $white;
      }
    }

    li:not(:last-child) {
      padding-right: 40px;
    }
  }
}
