.container {
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
}

.left,
.right {
  position: absolute;
  height: 100%;
  width: 50%;
}

.left {
  background: $white;
}

.right {
  left: 50%;
  background: $background-color;
}

.nav {
  position: fixed;
  width: 100%;
  height: 100px;
  font-family: $font-family;
  font-weight: 600;

  .logo,
  .next {
    line-height: 80px;
    position: absolute;
    padding: 10px;
  }

  .watch,
  .cart {
    line-height: 80px;
    position: absolute;
    padding: 10px;
    right: 0;
  }

  .logo {
    padding: 10px 80px 10px 60px;
    background: $background-color;
    color: $white;
    letter-spacing: 1px;
    font-weight: 400;
  }

  .next {
    left: 280px;
  }

  .watch {
    right: 220px;
    font-family: helvetica;
    color: $white;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 1px;
  }

  .cart {
    right: 70px;
    color: $white;
  }
}

.right-sidebar {
  right: 80px;
  position: absolute;
  top: 45%;
  transform: translateY(-50%);
  text-align: right;
  color: $white;

  & ul {
    list-style: none;

    li {
      color: $white;
      a {
        color: $white;
        text-decoration: none;
        font-family: $font-family;
        font-weight: 400;
        letter-spacing: 0.5px;
        text-transform: capitalize;
      }
    }

    .other-page {

      transition: all 0.5s;
    
    }

    .other-page:hover {

      transform: scale(1.2) !important;

    }
  }

  .title {
    font-size: 36px;
    font-family: $font-family;
    padding-bottom: 40px;
  }

  & li:not(:first-child) {
    padding: 6px 0;
  }
}

.product {
  position: absolute;
  top: 50%;
  left: 51%;
  transform: translate(-50%, -50%);
  animation: fly 4s ease-in-out infinite;
  margin: 0 auto;

  img {
    width: 70%;
    margin: 0 auto;
  }
}

@include keyframes(fly) {
  0% {
    transform: translate(-50%, -46%);
  }
  50% {
    transform: translate(-50%, -54%);
  }
  100% {
    transform: translate(-50%, -46%);
  }
}

.left-bottom {
  position: absolute;
  left: 60px;
  bottom: 40px;
  font-family: helvetica;
  letter-spacing: 3px;
  color: $primary-color;
  text-transform: uppercase;
  font-size: 12px;
}

.left-sidebar {
  left: 60px;
  position: absolute;
  top: 46%;
  transform: translateY(-50%);
  text-align: left;
  width: 26%;

  .product-title {
    font-family: $font-family;
    font-weight: 600;
  }

  .btn {
    padding: 24px 48px;
    background: $background-color;
    color: $white;
    outline: none;
    border: none;
    margin: 1em 0;
    font-family: $font-family;
    font-weight: bolder;
    letter-spacing: 4px;
  }

  p {
    font-family: helvetica;
    font-weight: lighter;
    line-height: 24px;
    color: $primary-color;
  }

  #price {
    color: #000;
  }
}

.media {
  position: absolute;
  bottom: 40px;
  right: 60px;
  color: $white;

  ul {
    list-style: none;

    li {
      display: inline-block;
    }

    li:not(:last-child) {
      padding-right: 40px;
    }
  }
}
