
@import url('https://fonts.googleapis.com/css?family=Lato:400,700,900&display=swap');

$black:#000000;
$white:#ffffff;
$background-color: #9b4d38;
$background-color2: #378891;
$primary-color: #808080;


$font-family: 'Lato', sans-serif;


@mixin keyframes ( $animation-name ) {
  @-webkit-keyframes #{$animation-name} {
      @content;
  }
  @-moz-keyframes #{$animation-name}  {
      @content;
  }
  @-o-keyframes #{$animation-name} {
      @content;
  }
  @keyframes #{$animation-name} {
      @content;
  }
}