
$black:#000000;
$white:#ffffff;
$background-color: #9b4d38;
$primary-color: #808080;


$font-family: "Playfair Display" !important;


@mixin keyframes ( $animation-name ) {
  @-webkit-keyframes #{$animation-name} {
      @content;
  }
  @-moz-keyframes #{$animation-name}  {
      @content;
  }
  @-o-keyframes #{$animation-name} {
      @content;
  }
  @keyframes #{$animation-name} {
      @content;
  }
}